*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, Helvetica;
    color: #FAFAFA;
}
body{
    background-color: #08090A;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
}
.container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10vw;
    padding-top: 4vw;
}

.section{
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    margin: 3vh;
    width: 100%;
    max-width: 500px;
}

.position{
    font-weight: 500;
    /* color: #A3A3A3; */
}

.tag{
    font-weight: 300;
    color: #A3A3A3;
}
.name{
    font-size: 2.2rem;
    font-weight: 1000;
}

.title{
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.about{
    color: #A3A3A3;
}

.skill-icon{
    margin-right: 10px;
    margin-top: 10px;
    font-size: 2rem;
}

.email{
    color: #A3A3A3;
}
.email:hover{
    cursor: pointer;
    text-decoration: underline;
}

.social-icons{
    margin: 10px;
    margin-left: 0;
}

.social-icon{
    margin-right: 10px;
}
